.contactus {
    font-size: 35px;
    margin: 0px 60px;
    text-align: center;
    padding-top: 10px;
    /* text-align: center; */
    color: var(--hading-text-color);
}

.container {
    display: flex;
}

.box1 {
    height: 450px;
    width: 100%;
}

.box1 p {
    width: 50%;
    margin: 10px 27%;
    color: var(--hading-text-color);
}

.box1 img {
    height: 270px;
    margin-top: 30px;
    margin-left: 35%;

}

.contactitem {
    height: 155px;
    width: 100%;
    display: flex;
    column-gap: 100px;
    justify-content: center;
    align-items: center;
    color: var(--text-second-color);
}

.contactitem i {
    height: 80px;
    width: 80px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--button-bg-color);
}

.location i {
    font-size: 50px;
    align-items: center;
    border: 2px solid var(--box-border-color);
}

.location a {
    text-decoration: none;
    color: var(--hading-text-color);
}

.email {
    margin-left: 60px;

}

.email i {
    font-size: 50px;
    align-items: center;
    border: 2px solid var(--box-border-color);
}

.email a {
    text-decoration: none;
    color: var(--hading-text-color);
}

.phone i {
    font-size: 50px;
    align-items: center;
    border: 2px solid var(--box-border-color);
}

.phone a {
    text-decoration: none;
    color: var(--hading-text-color);
}

h3 {
    align-items: center;
    font-size: 30px;
    color: var(--box-border-color);
}


/* mobile screen media query*/

@media only screen and (max-width:480px) {
    .contactus {
        font-size: 20px;
        margin: 0px 80px;
        color: var(--hading-text-color);
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box1 {
        height: 330px;
        width: 100%;
    }

    .container {
        flex-direction: column;
    }

    .box1 p {
        height: auto;
        width: auto;
        font-size: 13px;
        margin: 8px 30px;
        color: var(--hading-text-color);
    }

    .box1 img {
        height: 190px;
        margin: 10px 15%;

    }

    .contactitem {
        height: 120px;
        width: 100%;
        margin: 0px 0px;
        column-gap: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* justify-content: space-between; */
        color: var(--text-second-color);
    }

    .contactitem i {
        height: 50px;
        width: 50px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--button-bg-color);
    }

    .location i {
        font-size: 30px;
        align-items: center;
        border: 2px solid var(--box-border-color);
    }

    .email i {
        font-size: 30px;
        align-items: center;
        border: 2px solid var(--box-border-color);
    }

    .phone {
        margin-right: px;
    }

    .phone i {
        font-size: 30px;
        align-items: center;
        border: 2px solid var(--box-border-color);
    }

    h3 {
        font-size: 20px;
        color: var(--box-border-color);
    }
}